.bug-filter {
    background-color: var(--gray2);
    padding: 1em;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.bug-filter label {
    margin-inline-start: 1em;
}

.bug-filter .sort-by {
    display: flex;
    align-items: center;
    gap: 3em;
}

.bug-filter .sort-field,
.bug-filter .sort-dir {
    margin-block: .6em;
}