.bug-preview {
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.bug-preview .title {
    font-weight: bold;
    font-size: 1.1em;
}

.bug-preview span {
    font-size: .9em;
}

.bug-preview .labels-container {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;

    .label {
        font-size: .8em;
        padding: .2em .5em;
        border-radius: .5em;
        background-color: rgb(157, 255, 111);
        color: black;
    }
}